<h1 class="title">Chatrooms</h1>
<% if current_user %>
  <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
  <%= link_to('修改密碼', edit_registration_path(:user)) %>
  <p>Hello <%= current_user.name %></p>
<% else %>
  <%= link_to('註冊', new_registration_path(:user)) %> |
  <%= link_to('登入', new_session_path(:user)) %>
<% end %>

<br>
<%= form_tag chatrooms_path, :method => :get do %>
  <%= text_field_tag "keyword", @keyword %>
  <%= submit_tag "Search" %>
  <small class="text-muted">Enter chatroom name or id</small>
<% end %>
<br>
<hr>

<% @chatrooms.each do |chatroom| %>
	<% if chatroom.user.include?(User.find(current_user.id)) %>
		<p><%= link_to chatroom.name, chatroom_path(chatroom) %> created <%= chatroom.created_at.strftime("%m %d, %Y") %></p>
	<% else %>
		<p><strong><%= chatroom.name %></strong> created <%= chatroom.created_at.strftime("%m %d, %Y") %>  <%= link_to "Join", { :action => 'join', :id => chatroom.id }, :method => :post %></p>
	<% end %>
<% end %>

<%= button_to 'Create Chatroom', { :action => 'new' }, :method => :get %>