<h1 class="title"><%= @chatroom.name %></h1>

<div class="panel panel-default">
  <% if @chatroom.messages.any? %>
    <hr>
      <div class="panel-body" id="messages" data-chatroom=<%=@chatroom.id%>>
        <%= render partial: 'messages/message', collection: @chatroom.messages%>
      </div>
    <hr>
  <%else%>
    <div class="panel-body hidden" id="messages">
    </div>
  <%end%>
</div>

<%= form_for @message, url: '#' do |f| %>
  <%= hidden_field_tag 'chatroom-id', @chatroom.id %>
  <div class="form-group">
  	<%= f.hidden_field :chatroom_id, :value => @chatroom.id, :id => "hidden_id" %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 1 to 1000 characters</small>
  </div>

  <%= f.submit "Send", class: 'btn btn-primary btn-lg' %>
<% end %>

<p><%= link_to 'Back to index', chatrooms_path %></p>